<div class="col-md-12">

<img src="https://cdn.pixabay.com/photo/2016/11/29/05/50/architecture-1867638_960_720.jpg" style="width:120%;min-height:200px;max-height:400px;margin: 0 -40px 0px;">


  <table class="table table-boldered table-hover custab">
    <thead class="bg-primary">
      <tr>
        <th>职缺</th>
        <th>薪资下限</th>
        <th>薪资上限</th>
        <th>创建时间</th>
      </tr>
    </thead>
    <tbody>
      <%  @jobs.each do |job| %>
      <tr>
        <td><%= link_to(job.title, job_path(job)) %></td>
        <td><%= job.wage_lower_bound %></td>
        <td><%= job.wage_upper_bound %></td>
        <td><%= job.created_at %></td>
      </tr>
      <% end %>
      </tbody>
  </table>
</div>
