<body>
  <div class="jumbotron">
    <p>
      <b>简历不再石沉大海，一经投递，马上应征。</b><br>
        <b>年薪百万不再是梦，换分工作，换个人生。</b>
    </p>

    <div class="lead">
      <a class="btn btn-lg btn-danger" href="/jobs">应征工作</a>
    </div>
  </div>

<div class="promise">
  <div class="container">
      <h2>为什么选择ioffer？</h2>
      <br>
<div class="col-md-4">
  <div class="pic">
  <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fdl2vjdd7qj30b408cdg0.jpg">
</div>
  <h3>企业优选</h3>
  <p>我们精挑细选数百家优质企业,助你一臂之力</p>
</div>
<div class="col-md-4">
  <div class="pic">
  <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fdl34bim2uj30tt0lkdis.jpg">
</div>
  <h3>预约面试</h3>
  <p>一经投递，我们帮你快速联系相关企业安排面试</p>
</div>
<div class="col-md-4">
  <div class="pic">
  <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fdl1f0fx4tj30e309ejrj.jpg">
</div>
  <h3>高匹配率</h3>
  <p>七成以上求职者通过我们的平台找到了合适的工作</p>
</div>
</div>
</div>

<div class="logo">
  <div class="container">
    <h2>求职者成功应聘的公司</h2>
  <span id="apple">
    <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fdl704rpo1j31kw16owf7.jpg">
  </span>
  <span id="sumsung">
    <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fdl736wu2xj31kw16omyd.jpg">
  </span>
  <span id="huawei">
    <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fdl75nv6bij30jc0jegs9.jpg">
  </span>
  <span id="ibm">
    <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fdl79mbtw3j30xc0icaa5.jpg">
  </span>
  <span id="hp">
    <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fdl9myjb1gj31jk1jkade.jpg">
  </span>
</div>
</div>

<div class="users">
  <div class="container">
    <h2>求职者说：</h2>
    <div class="col-md-4">
    <div class="pic">
      <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fdlafcjk22j30b40b4gma.jpg">
      <p>辗转了几家公司后，对职业发展感到疲惫。后来在ioffer上尝试投了一份IBM公司的工作，非常顺利的加入到了目前的团队，非常幸运！</p>
    </div>
  </div>
  <div class="col-md-4">
  <div class="pic">
    <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fdlevl54poj30b40b4wfc.jpg">
    <p>真诚感谢ioffer给我提供了一个在apple工作的机会，我非常热爱我目前的这份工作。让我有更多的热情改变世界！</p>
  </div>
</div>
<div class="col-md-4">
<div class="pic">
  <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fdlevw10kzj30b40b4taf.jpg">
  <br>
  <p>我是有五年经验的java工程师，通过ioffer求职平台在sumsung找到了一份非常满意的工作。从投递简历到入职只用了一周时间，非常高效！</p>
</div>
</div>
</div>
<div class="push">
  <a class="btn btn-lg btn-danger" href="/jobs">机会难得，马上应征</a>
</div>
</div>
</body>
