<body>
  <div class="jumbotron">
    <p>
      <b>简历不再石沉大海，一经投递，马上应征。</b><br>
        <b>年薪百万不再是梦，换分工作，换个人生。</b>
    </p>

    <div class="lead">
      <a class="btn btn-lg btn-danger" href="/jobs">应征工作</a>
    </div>
  </div>

<div class="promise">
  <div class="container">
      <h2>为什么选择ioffer？</h2>
<div class="col-md-4">
  <div class="pic">
  <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fdl2vjdd7qj30b408cdg0.jpg">
</div>
  <h3>企业优选</h3>
  <p>我们精挑细选数百家优质企业,助你一臂之力</p>
</div>
<div class="col-md-4">
  <div class="pic">
  <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fdl34bim2uj30tt0lkdis.jpg">
</div>
  <h3>预约面试</h3>
  <p>一经投递，我们帮你快速联系相关企业安排面试</p>
</div>
<div class="col-md-4">
  <div class="pic">
  <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fdl1f0fx4tj30e309ejrj.jpg">
</div>
  <h3>高匹配率</h3>
  <p>七成以上求职者通过我们的平台找到了合适的工作</p>
</div>
</div>
</div>
</body>
