<div class="footer">
  <a class="social", href="https://www.facebook.com/" target=_new><i class=" fa fa-facebook"></i></a>
  <a class="social", href="https://twitter.com/" target=_new><i class=" fa fa-twitter"></i></a>
  <a class="social", href="https://plus.google.com/" target=_new><i class=" fa fa-google-plus"></i></a>
  <a class="social", href="https://cn.linkedin.com/" target=_new><i class=" fa fa-linkedin"></i></a>
</div>
