<div class="footer">
  <a class="social", href="https://www.facebook.com/" target=_new>&#62220; </a>
  <a class="social", href="https://twitter.com/" target=_new>&#62217;</a>
  <a class="social", href="https://plus.google.com/" target=_new>&#62223;</a>
  <a class="social", href="https://cn.linkedin.com/" target=_new>&#62232;</a>
</div>
